.individual-project-container {
  padding: 10px;
  overflow-y: auto;
}

.individual-project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.image-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-image {
  width: 120px;
  height: 120px;
  margin: 10px;
}

.text-container {
  text-align: center;
  margin-bottom: 20px;
}

.design-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.designer {
  font-size: 14px;
  color: gray;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  margin-bottom: 10px;
}

.tech-stack {
  font-size: 14px;
  margin-bottom: 10px;
}

.github {
  font-size: 14px;
  margin-bottom: 10px;
}

.like-button,
.watch-button {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .individual-project-container {
    padding: 20px;
    padding-bottom: 500px;
  }

  .individual-project-card {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-container {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .text-container {
    text-align: left;
  }
}
